{% extends 'center_layout.html' %}
{% block content %}
    <div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>用户中心</h3>
			<ul>
				<li><a href="user_center_info" class="active">· 个人信息</a></li>
				<li><a href="user_center_order">· 全部订单</a></li>
				<li><a href="user_center_site">· 收货地址</a></li>
			</ul>
		</div>
        <div class="right_content clearfix">
                    <div class="info_con clearfix">
                    <h3 class="common_title2">基本信息</h3>
                            <ul class="user_info_list">
                                <li><span>用户名：</span>18210569700</li>
                                <li><span>联系方式：</span>18210569700</li>
                                <li><span>联系地址：</span>北京市昌平区</li>
                            </ul>
                    </div>

                    <h3 class="common_title2">最近浏览</h3>
                    <div class="has_view_list">
                        <ul class="goods_type_list clearfix">
                            {% for i in com_his %}
                            <li>
                                <a href="../index/detail/{{ i.0.id }}"><img src="../{{ i.1 }}" alt=""></a>
                                <h4><a href="../index/detail/{{ i.0.id }}">{{ i.0.name }}</a></h4>
                                <div class="operate">
                                    <span class="prize">￥{{ i.0.price }}</span>
                                    <span class="unit">{{ i.0.price }} / {{ i.0.untie }}</span>
                                    <a href="#" class="add_goods" title="加入购物车"></a>
                                </div>
                            </li>
                            {% endfor %}
                </ul>
            </div>
            </div>
    </div>
{% endblock %}