{% extends 'index_layout.html' %}
<body>

    {% block index_0 %}
        <div class="subnav_con fl">
    				<h1>全部商品分类</h1>
    				<span></span>
    				<ul class="subnav">
    					<li><a href="#" class="fruit">新鲜水果</a></li>
    					<li><a href="#" class="seafood">海鲜水产</a></li>
    					<li><a href="#" class="meet">猪牛羊肉</a></li>
    					<li><a href="#" class="egg">禽类蛋品</a></li>
    					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
    					<li><a href="#" class="ice">速冻食品</a></li>
    				</ul>
    			</div>
    {% endblock %}

    {% block context %}
	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					<li>
						<a href="../detail/{{ new_com.0.id }}"><img src="../../{{ new_img.0 }}"></a>
						<h4><a href="../detail/{{ new_com.0.id }}">{{ new_com.0.name }}</a></h4>
						<div class="prize">￥{{ new_com.0.price }}</div>
					</li>
					<li>
						<a href="../detail/{{ new_com.1.id }}"><img src="../../{{ new_img.1 }}"></a>
						<h4><a href="../detail/{{ new_com.1.id }}">{{ new_com.1.name }}</a></h4>
						<div class="prize">￥{{ new_com.1.price }}</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a id="a1" href="?pa=1&type={{ page_com.0.0.type.id }}" >默认</a>
				<a id="a2" href="?pa=2&type={{ page_com.0.0.type.id }}">价格</a>
				<a id="a3" href="?pa=3&type={{ page_com.0.0.type.id }}">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
                {% for obj in page_com %}
                <li>
                    <a href="../detail/{{ obj.0.id }}"><img src="../../{{ obj.1 }}"></a>
                    <h4><a href="../detail/{{ obj.0.id }}">{{ obj.0.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ obj.0.price }}</span>
						<span class="unit">{{ obj.0.price }}/{{ obj.0.untie }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
                </li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {{ page_string }}
			</div>
		</div>
	</div>
    {% endblock %}
    {% block script %}

	<script type="text/javascript">
        let aid ={{ aid }};
        console.log(aid)
        if (aid === 1){
            document.getElementById("a1").className = 'active';
            document.getElementById("a2").className = '';
            document.getElementById("a3").className = '';
        }else if(aid === 2){
            document.getElementById("a1").className = '';
            document.getElementById("a2").className = 'active';
            document.getElementById("a3").className = '';
        }else if(aid === 3) {
            document.getElementById("a1").className = '';
            document.getElementById("a2").className = '';
            document.getElementById("a3").className = 'active';
        }



    </script>
    {% endblock %}
